<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dataSource" destroy-method="close" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/car_buy"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>

    <bean id="mysessionFactory"  class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>car.Car</value>
                <value>customer.Customer</value>
                <value>order.Order</value>

            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>

    </bean>


    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="mysessionFactory"></property>
    </bean>

    <bean id="customerDao" class="com.cdk.carbuy.dao.CustomerDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>

    <bean id="orderDao" class="com.cdk.carbuy.dao.OrderDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>

    <bean id="carDao" class="com.cdk.carbuy.dao.CarDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>

</beans>