body {
    background-image: url(http://www.hdcarwallpapers.com/walls/super_sports_cars-HD.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
	
}
address {
    font-size: 20px;
}
h1{
color:black
}